@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');

body
{
    font-family: Sofadi One,sans-serif;
    margin: 0%;
    font-size: 1.7em;
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
}

.container {
    padding: 3vh;
    height: 88vh;
}

.header
{
    align-items:stretch;
    width: 100%;
    height: 8vh;
}

.middle
{
    display: flex;
    align-items:stretch;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.but
{
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    text-align: center;
    align-items: center;
}

input[type=radio] {
    border: 0px;
    width:20%;
    height: 2em;
}


.middle div
{
    align-content: center;
    text-align: center;
    margin: 0%;
    width: 100%;
}

.result
{
    align-content: center;
    text-align: center;
    height: 40vh;
}

button
{
    margin-top: 2%;
    font-size: 1.5em;
    font-family: Sofadi One,sans-serif;
    border-radius: 8px;
    background: none;
    border: 3px solid black;
    color: black;
}

img
{
    height: 140px;
}